Source: syslinux-themes-linuxbean
Section: misc
Priority: optional
Maintainer: Ryo Nakano <ryonakaknock3@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: syslinux-themes-linuxbean
Architecture: amd64 i386
Depends: ${misc:Depends}, syslinux-themes-linuxbean-triforium
Description: collection of boot loaders (theme metapackage)
 SYSLINUX is a collection of boot loaders which operates off Linux ext2/3/4 or
 btrfs filesystems, MS-DOS FAT filesystems, network servers using PXE firmware,
 or from CD-ROMs.
 .
 This package depends on the package with the graphical bootloader theme
 for the matching linuxBean release.

Package: syslinux-themes-linuxbean-triforium
Architecture: amd64 i386
Depends: ${misc:Depends}, memtest86+, syslinux-common
Enhances: extlinux
Provides: syslinux-theme
Description: collection of boot loaders (linuxbean-triforium theme)
 SYSLINUX is a collection of boot loaders which operates off Linux ext2/3/4 or
 btrfs filesystems, MS-DOS FAT filesystems, network servers using PXE firmware,
 or from CD-ROMs.
 .
 This package contains the graphical bootloader theme for linuxBean Triforium.
